* {
    box-sizing: border-box;
}

h1,
h2,
h3 {
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    scroll-behavior: smooth;
}

main {
    margin-top: 95px;
}

body.overflow-hidden {
    overflow: hidden;
    position: relative;
}

.container {
    max-width: 1020px;
    margin: 0 auto;
    padding: 0 40px;
}

.title {
    font-size: 30px;
    line-height: 25px;
    color: #666d89;
    font-weight: 900;
    letter-spacing: -0.2px;
}

.title_white {
    color: #f0d8d9;
}

/* ===== header ===== */
.header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 30px 0;
    height: 95px;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
    z-index: 5;
}

.header__container {
    position: relative;
}

.header__wrapper {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.logo {
    font-size: 23px;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    -webkit-transform: scaleY(1.1);
    -ms-transform: scaleY(1.1);
    transform: scaleY(1.1);
}

.logo__stark {
    color: #f06c64;
}

.menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.menu__item {
    padding-top: 4px;
    -webkit-transform: scaleY(1.1);
    -ms-transform: scaleY(1.1);
    transform: scaleY(1.1);

}

.menu__item:not(:last-child) {
    position: relative;
    margin-right: 31px;
}

.menu__item:not(:last-child):after {
    content: '';
    position: absolute;
    top: 15px;
    right: -17px;
    display: block;
    width: 2px;
    height: 2px;
    background-color: #494e62;
    border-radius: 50%;
}

.menu__link {
    font-size: 12px;
    line-height: 6px;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    -webkit-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
    letter-spacing: -0.3px;
}

.menu__link.active {
    color: #f06c64;
    cursor: default;
}

.menu__link:not(.active):hover {
    color: #f06c64;
    cursor: pointer;
}

.hamburger {
    display: none;
    position: relative;
    left: -104px;
    width: 25px;
    height: 20px;
    cursor: pointer;
}

.hamburger__line,
.hamburger::before,
.hamburger::after {
    position: absolute;
    content: '';
    display: inline-block;
    background-color: #fff;
    border-radius: 5px;
    width: 100%;
    height: 2.4px;
}

.hamburger__line {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.hamburger::before {
    top: 0;
    left: 0;
}


.hamburger::after {
    bottom: 0;
    left: 0;
}




/* ===== slider ===== */
.slider {
    border-top: 95px solid transparent;
    margin-top: -95px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    position: relative;
    min-height: 600px;
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
}

.slider__wrapper {
    position: relative;
    min-height: 594px;
    overflow: hidden;
}

.slider__item {
    position: absolute;
    width: 100%;
    left: 0;
    transition: all 0.5s;
}

.slider__item:not(.active) {
    left: 100%;
}

.slider__item.active {
    left: 0;
    transition: all 0.7s;
}

.slide1 {
    padding-top: 53px;
    padding-left: 72px;
    display: flex;
}

.btn-phone {
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    cursor: pointer;

}

.slide1__img:first-child {
    position: relative;
    margin-right: 73px;
}

.slide1__img:first-child .btn-phone {
    left: 38%;
    top: 85%;
}

.slide1__img:first-child::after {
    position: absolute;
    content: '';
    display: block;
    width: 79%;
    height: 69%;
    background-color: black;
    top: 13.3%;
    left: 6%;
    opacity: 1;
    transition: all 0.3s;
}

.slide1__img:last-child .btn-phone {
    left: 3%;
    top: 26%;
}

.slide1__img:last-child {
    position: relative;
    margin-top: 121px;
}

.slide1__img:last-child:after {
    position: absolute;
    content: '';
    display: block;
    width: 69%;
    height: 52%;
    background-color: black;
    top: 3.3%;
    left: 12.3%;
    opacity: 1;
    transition: all 0.3s;
}

.slide1__img.active:last-child:after {
    opacity: 0;
}

.slide1__img.active:first-child:after {
    opacity: 0;
}

.slide2 {
    padding-top: 43px;
    display: flex;
    justify-content: center;
}

.slider__btn {
    position: absolute;
    top: 50%;
    height: 30px;
    width: 18px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    border: none;
    cursor: pointer;
    transition: all 0.3s;
}

.slider__btn:hover {
    opacity: 0.5;
}

.slider__btn_prev {
    left: 0;
    background: url('assets/img/btn-prev.png') center center no-repeat;
}

.slider__btn_next {
    right: 0;
    background: url('assets/img/btn-next.png') center center no-repeat;
}

/* ===== services ===== */
.services {
    border-top: 95px solid transparent;
    margin-top: -95px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    padding-top: 65px;
    min-height: 500px;
    background-color: #f2f2f2;
    border-bottom: 6px solid #fff;
}

.services__text {
    margin-top: 23px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-weight: 300;
    text-align: justify;
}

.services__wrapper {
    margin-top: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.services__item {
    position: relative;
    margin-bottom: 20px;
    padding-left: 80px;
    max-width: 300px;
}

.services__img {
    position: absolute;
    top: 2px;
    left: 1px;
}

.services__title {
    font-size: 18px;
    line-height: 18px;
    letter-spacing: -0.1px;
    color: #666d89;
    font-weight: 900;
}

.services__description {
    margin-top: 10px;
    font-size: 12px;
    line-height: 21px;
    color: #767e9e;
    font-weight: 400;
    text-align: justify;
}

/* ===== ./services ===== */

/* ===== portfolio ===== */
.portfolio {
    border-top: 95px solid transparent;
    margin-top: -95px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    padding-top: 65px;
    padding-bottom: 67px;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
}

.portfolio__subtitle {
    margin: 0;
    margin-top: 27px;
    font-size: 18px;
    color: #767e9e;
    font-weight: 300;
}

.tabs {
    margin-top: 15px;
}

.tabs__list {
    display: flex;
    align-items: center;
    min-width: 300px;
}

.tabs__title {
    margin-right: 11px;
    padding: 0px 6px;
    min-width: 29px;
    border: 1px solid #767e9e;
    border-radius: 5px;
    font-size: 12px;
    text-align: center;
    line-height: 20px;
    letter-spacing: -0.1px;
    color: #767e9e;
    font-weight: 400;
    transition: all 0.3s;
}

.tabs__title.active {
    border: 1px solid #fff;
    color: #fff;
}


.tabs__title:not(.active):hover {
    transform: translateY(-2px);
    cursor: pointer;

}

.tabs__content {
    margin: 0 -10px;
    margin-top: 19px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 601px;
    overflow: hidden;
}

.tabs__col {
    margin-bottom: 20px;
    padding: 0 10px;
}

.tabs__img {
    max-width: 220px;
    overflow: hidden;
    outline: 5px solid transparent;
    outline-offset: -5px;
    transition: all 0.4s;
    cursor: pointer;
}

.tabs__img img {
    display: block;
}

.tabs__img.active {
    outline: 5px solid #F06C64;
    outline-offset: -5px;
}

/* ===== ./portfolio =====*/

/* ===== about ====== */
.about {
    border-top: 95px solid transparent;
    margin-top: -95px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    padding-top: 65px;
    padding-bottom: 67px;
    background-color: #f2f2f2;
    border-bottom: 6px solid #fff;
}

.about__subtitle {
    margin-top: 23px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-weight: 300;
    text-align: justify;
}

.about__wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
    margin-top: 45px;
}

.about__social {
    margin-top: 24px;

}

.person {
    max-width: 320px;
    width: 33.3333%;
}

.about__person {
    padding: 0 10px;
}

.person__img img {
    width: 100%;
}

.person__name {
    margin-top: 14px;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: -0.2px;
    color: #666d89;
    font-weight: 900;
}

.person__description {
    margin-top: 10px;
    font-size: 12px;
    line-height: 21px;
    color: #767e9e;
    font-weight: 400;
    word-spacing: -0.5px;
    text-align: justify;
}

.social {
    padding-left: 1px;
    display: flex;
}

.social__link {
    border: 1px solid #656d89;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    position: relative;
    transition: all 0.3s;
}

.social__link_right {
    margin-right: 8px;
}

.social__link_left {
    margin-left: 8px;
}

.social__link:hover {
    opacity: 0.5;
}

.social__link:active {
    transform: scale(0.9);
}

.social__icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* ===== ./about ===== */

/* ===== message ===== */
.message {
    border-top: 95px solid transparent;
    margin-top: -95px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    position: relative;
    padding-top: 65px;
    padding-bottom: 15px;
    border-bottom: 6px solid #ea676b;
    background-color: #f06c64;
    color: #f0d8d9;
}

.message__description {
    margin-top: 23px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
    text-align: justify;
}

.message__wrapper {
    margin-top: 44px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.form {
    max-width: 620px;
}

.form input:not([type="submit"]),
.form textarea {
    margin-bottom: 16px;
    width: 100%;
    padding: 10px 15px 12px 14px;
    border-radius: 5px;
    border: none;
    font-family: 'Lato';
    color: #f0d8d9;
    background-color: #d6564f;
    outline: none;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.form input:invalid:focus {
    -webkit-box-shadow: 0 -5px 4px -4px red inset;
    box-shadow: 0 -5px 4px -4px red inset;
}

.form input::-webkit-input-placeholder,
.form textarea::-webkit-input-placeholder {
    font-size: 12px;
    line-height: 22px;
    color: #f48c8f;
    font-weight: 400;
}

.form input::-moz-placeholder,
.form textarea::-moz-placeholder {
    font-size: 12px;
    line-height: 22px;
    color: #f48c8f;
    font-weight: 400;
}

.form input:-ms-input-placeholder,
.form textarea:-ms-input-placeholder {
    font-size: 12px;
    line-height: 22px;
    color: #f48c8f;
    font-weight: 400;
}

.form input::-ms-input-placeholder,
.form textarea::-ms-input-placeholder {
    font-size: 12px;
    line-height: 22px;
    color: #f48c8f;
    font-weight: 400;
}

.form input::placeholder,
.form textarea::placeholder {
    font-size: 12px;
    line-height: 22px;
    color: #f48c8f;
    font-weight: 400;
}

.form textarea {
    min-height: 202px;
    display: inline-block;
    padding-top: 7px;
    resize: none;
    overflow: hidden;
}

.form .btn {
    padding: 8px 20px;
    font-family: 'Lato', sans-serif;
    width: 136px;
    height: 38px;
    color: #886A30;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    background-color: #FBC65F;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.form .btn:hover {
    -webkit-box-shadow: 2px 2px 1px 1px rgba(240, 216, 217, 0.76);
    box-shadow: 2px 2px 1px 1px rgba(240, 216, 217, 0.76);
}

.form .btn:active {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
}

.message__contacts {
    max-width: 300px;
}

.message__contacts_title {
    font-size: 18px;
    line-height: 18px;
    font-weight: 900;
}

.message__contacts_description {
    margin-top: 10px;
    font-size: 12px;
    line-height: 21px;
    font-weight: 400;
    text-align: justify;
}

.contacts {
    margin-top: 24px;
}

.contacts__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.contacts__img {
    position: relative;
    margin-right: 11px;
    height: 11px;
    width: 13px;
}

.contacts__img img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.contacts__link {
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    font-weight: 400;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

.contacts__link:hover {
    text-decoration: underline;
}

.contacts__link:active {
    opacity: 0.5;
}

/* ===== ./message ===== */

/* ===== footer ===== */
.footer {
    padding: 22px 0;
    background-color: #2d303a;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright {
    color: rgba(255, 255, 255, 0.3);
    font-size: 13px;
    font-weight: 900;
}

/* ===== ./footer ===== */

#dialog-block {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #2d303a3b;
    z-index: 2;
    transition: all 0.3s;
}

#dialog-block.hidden {
    display: none;
}

#message {
    text-align: center;
    box-shadow: -4px 3px 37px 0px rgba(0, 0, 0, 0.75);
    border-radius: 15px;
    padding: 20px;
    color: rgba(56, 56, 56, 0.767);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 300px;
    width: 500px;
    background-color: rgb(209, 209, 209);
    font-weight: 400;
    font-size: 20px;
}

.dialog__wrapper {
    max-width: 300px;
    text-align: left;

}

#close-btn {
    margin-top: 30px;
    color: #fff;
    border: none;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    background-color: #f48c8f;
    cursor: pointer;
    transition: all 0.3s;
}

#close-btn:hover {
    opacity: 0.7;
}


@media (max-width: 1019px) {
    .container {
        max-width: 768px;
    }

    .slider {
        min-height: auto;
    }

    .slider__wrapper {
        min-height: 447px;
    }

    .slide1 {
        padding: 0;
        padding-left: 44px;
        display: flex;
        align-items: center;
        height: 100%;
    }

    .slide1__img:nth-child(1) {
        width: 180px;
        height: 363px;
        margin-right: 56px;
    }

    .slide1__img:nth-child(2) {
        width: 363px;
        height: 180px;
        margin: 0;
    }

    .slide1__img img {
        width: 100%;
    }

    .slide1__img:last-child:after {
        width: 69%;
        height: 80%;
        top: 5.3%;
        left: 12.3%;
    }

    .slide1__img:last-child .btn-phone {
        left: 2%;
        top: 36%;
    }

    .slider2__img {
        max-width: 400px;
    }

    .slider2__img img {
        max-width: 100%;
    }



    /* ===== services ===== */
    .services {
        padding-top: 45px;
        padding-bottom: 25px;
        border-bottom: none;
    }

    .services__wrapper {
        margin-top: 36px;
        justify-content: start;
        overflow: hidden;
    }

    .services__item {
        margin-bottom: 40px;
    }

    .services__item:nth-child(odd) {
        margin-right: 54px;
    }

    /* ===== ./services ===== */


    /* ===== portfolio===== */
    .portfolio {
        padding-bottom: 45px;
    }

    .portfolio__subtitle {
        margin-top: 23px;
        text-align: justify;
        max-width: 650px;
        line-height: 30px;
    }

    .tabs {
        margin-top: 12px;
    }

    .tabs__content {
        margin-top: 28px;
        overflow: hidden;
        height: auto;
    }

    .tabs__img {
        width: 216px;
        max-width: 100%;
        height: 184px;
    }

    .tabs__col {
        width: 33.3333%;
        margin-bottom: 20px;
    }

    /* ===== ./portfolio===== */

    /* ===== about===== */
    .about {
        padding-top: 58px;
        padding-bottom: 75px;
        border-bottom: none;
    }

    .about__wrapper {
        margin-top: 38px;
    }

    .person__img {
        width: 219px;
        height: 219px;
    }

    .person__name {
        margin-top: 12px;
    }

    .person__description {
        margin-top: 3px;
    }

    .about__social {
        margin-top: 13px;
    }

    /* ===== ./about===== */

    /* ===== message===== */
    .message {
        padding-top: 59px;
        padding-bottom: 41px;
    }

    .message__wrapper {
        margin-top: 25px;
    }

    .form {
        max-width: 442px;
    }

    .message__contacts {
        max-width: 220px;
    }

    .form input:not([type="submit"]),
    .form textarea {
        margin-bottom: 12px;
        padding-left: 8px;
    }

    .form textarea {
        min-height: 159px;
    }

    .message__contacts_description {
        margin-top: 4px;
    }

    .contacts {
        margin-top: 15px;
    }

    /* ===== ./message===== */
}


@media (max-width: 767px) {
    .container {
        max-width: 375px;
        padding: 0 30px;
    }

    main {
        margin-top: 71px;
    }

    .services,
    .portfolio,
    .about,
    .message {
        border-top: 71px solid transparent;
        margin-top: -71px;
    }

    /* ===== header ===== */

    .header {
        height: 71px;
        border-bottom: none;
        padding: 25px 0;
    }

    .navigation {
        display: none;
    }

    .logo {
        margin-right: 10px;
        font-size: 18px;
    }

    .hamburger {
        display: block;
    }

    .header__wrapper {
        justify-content: center;
    }

    /* ===== ./header ===== */

    /* ===== slider ===== */
    .slider__wrapper {
        min-height: 214px;
    }

    .slide1 {
        padding-left: 0;
    }

    .slide1__img:nth-child(1) {
        width: 88px;
        height: 177px;
        margin-right: 28px;
    }

    .slide1__img:nth-child(2) {
        width: 177px;
        height: 88px;
    }

    .slider2__img {
        max-width: 187px;
    }

    .slide2 {
        padding-top: 21px;
    }

    /* ===== ./slider ===== */

    /* ===== services ===== */
    .services {
        padding-top: 31px;
        padding-bottom: 0;
    }

    .services__wrapper {
        margin-top: 60px;
    }

    .services__item {
        margin-bottom: 16px;
    }

    .services__item:nth-child(odd) {
        margin-right: 0px;
    }

    /* ===== ./services ===== */

    /* ===== portfolio ===== */
    .portfolio {
        padding-top: 48px;
        padding-bottom: 30px;
    }

    .tabs {
        margin-top: 16px;
    }

    .tabs__content {
        height: 555px;
    }

    .tabs__col {
        width: 50%;
        margin-bottom: 13px;
    }

    .tabs__img {
        width: 151px;
        max-width: 100%;
        height: 128px;
    }

    .tabs__img img {
        width: 100%;
    }

    /* ===== ./portfolio ===== */

    /* ===== about ===== */
    .about {
        padding: 41px 0 48px;
    }

    .about__wrapper {
        margin-top: 24px;
    }

    .person {
        max-width: none;
        width: 100%;
    }

    .person:not(:nth-child(3)) {
        margin-bottom: 35px;
    }

    .person__img {
        width: auto;
        height: auto;
    }

    .about__subtitle {
        letter-spacing: 0.2px;
    }

    /* ===== ./about ===== */

    .message {
        padding: 49px 0 39px;
        border-bottom: none;
    }

    .message__description {
        text-align: left;
        letter-spacing: 0.3px;
    }

    .message__wrapper {
        flex-direction: column;
        margin-top: 24px;
    }

    .form .btn {
        width: 100%;
        height: 50px;
    }

    .message__contacts {
        margin-top: 31px;
        max-width: none;
    }

    .contacts {
        margin-top: 14px;
    }

    .contacts__item:not(:nth-child(3)) {
        margin-bottom: 4px;
    }

    .copyright {
        display: none;
    }

    .footer__wrapper {
        justify-content: center;
    }

    .footer .social .social__link_left:first-child {
        margin-left: 0;
    }


}